﻿@model WebsiteMVC.Models.BidModel


@{
    ViewBag.Title = "פרטי ההצעה שהגשת";
}

<div class="container">
    <div class="row">
        <h2 style="margin-top: 20px;">
            פרטי הצעת מחיר שהגשת
        </h2>
    </div>
    <br />

    <div class="row">
            <table class="bidLink">
                <tr>
                    <td>הגבלת כמות יחידות</td>
                    <td> @Model.bid.max_units </td>
                </tr>
                <tr>
                    <td>מחיר מקורי</td>
                    <td> @Model.bid.original_price </td>
                </tr>
                <tr>
                    <td>מחיר מדרגה 1</td>
                    <td> @Model.bid.price_step_1 </td>
                </tr>
                <tr>
                    <td>מחיר מדרגה 2</td>
                    <td> @Model.bid.price_step_2 </td>
                </tr>
                <tr>
                    <td>מחיר מדרגה 3</td>
                    <td> @Model.bid.price_step_3 </td>
                </tr>
                <tr>
                    <td>מחיר מדרגה 4</td>
                    <td> @Model.bid.price_step_4 </td>
                </tr>
                <tr>
                    <td>מחיר מדרגה 5</td>
                    <td> @Model.bid.price_step_5 </td>
                </tr>
                <tr>
                    <td>הערות</td>
                    <td> @Model.bid.comment </td>
                </tr>
                <tr>
                    <td>אחריות</td>
                    <td> @Model.bid.guarantee </td>
                </tr>
                <tr>
                    <td>משלוח</td>
                    <td> @Model.bid.shipping </td>
                </tr>
            </table>     
    </div>
</div>


