﻿@model WebsiteMVC.Models.BidModel


@{
    ViewBag.Title = "CreateBid";
}

<div class="container">
    <div class="row">
        <h2 style="margin-top: 20px;">
            אתה מגיש הצעת מחיר לקניה קבוצתית של המוצר @Model.productName
        </h2>
    </div>
    <br />

    <div class="row">
        @using (Html.BeginForm("CreateBid", "Bid", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="groupId" value=@Model.groupBuyingId />

            <table class="bidLink">
                <tr>
                    <td>הגבלת כמות יחידות</td>
                    <td><input type="number" min="1" max="100" name="max_units" id="max_units" /> </td>
                </tr>
                <tr>
                    <td>מחיר מקורי</td>
                    <td><input type="number" min="1" max="5000" name="original_price" id="original_price" /> </td>
                </tr>
                <tr>
                    <td>מחיר מדרגה 1</td>
                    <td><input type="number" min="1" max="5000" name="price_step_1" id="price_step_1" /> </td>
                </tr>
                <tr>
                    <td>מחיר מדרגה 2</td>
                    <td><input type="number" min="1" max="5000" name="price_step_2" id="price_step_2" /> </td>
                </tr>
                <tr>
                    <td>מחיר מדרגה 3</td>
                    <td><input type="number" min="1" max="5000" name="price_step_3" id="price_step_3" /> </td>
                </tr>
                <tr>
                    <td>מחיר מדרגה 4</td>
                    <td><input type="number" min="1" max="5000" name="price_step_4" id="price_step_4" /> </td>
                </tr>
                <tr>
                    <td>מחיר מדרגה 5</td>
                    <td><input type="number" min="1" max="5000" name="price_step_5" id="price_step_5" /> </td>
                </tr>
                <tr>
                    <td>הערות</td>
                    <td><input type="text" name="comments" id="comments" /> </td>
                </tr>
                <tr>
                    <td>אחריות</td>
                    <td><input type="number" min="0" max="5" name="guarantee" id="guarantee" /> </td>
                </tr>
                <tr>
                    <td>משלוח</td>
                    <td><input type="checkbox" name="shipping" id="shipping" /> </td>
                </tr>

            </table>

            <input type="submit" value="הגש הצעה" onclick="return validateForm();" />
        }

    </div>
</div>


<script type="text/javascript">

    function validateForm()
    {
        var x = document.getElementById("max_units").value;
        if (x==null || x=="" || isNaN(x))
        {
            alert("יש לבחור מספר יחידות");
            return false;
        }
        var x = document.getElementById("original_price").value;
        if (x == null || x == "" || isNaN(x))
        {
          alert("יש לבחור מחיר מקורי");
          return false;
        }
        var x = document.getElementById("price_step_1").value;
        if (x == null || x == "" || isNaN(x)) {
            alert("יש לבחור מחיר למדרגה ראשונה");
            return false;
        }
        var x = document.getElementById("price_step_2").value;
        if (x == null || x == "" || isNaN(x)) {
            alert("יש לבחור מחיר למדרגה שניה");
            return false;
        }
        var x = document.getElementById("price_step_3").value;
        if (x == null || x == "" || isNaN(x)) {
            alert("יש לבחור מחיר למדרגה שלישית");
            return false;
        }
        var x = document.getElementById("price_step_4").value;
        if (x == null || x == "" || isNaN(x)) {
            alert("יש לבחור מחיר למדרגה רביעית");
            return false;
        }
        var x = document.getElementById("price_step_5").value;
        if (x == null || x == "" || isNaN(x)) {
            alert("יש לבחור מחיר למדרגה חמישית");
            return false;
        }
        var x = document.getElementById("guarantee").value;
        if (x == null) {
            alert("יש לבחור שנות אחריות");
            return false;
        }
        else {
            return true;
      }
    }
</script>