﻿@model WebsiteMVC.Models.BusinessDashboardModel
@{
    ViewBag.Title = "הוסף מוצר חדש למלאי";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#categorySelect').change(function () {
            var categoryId = $("select#categorySelect option:selected").val();
            LoadSubCategories(categoryId);
        });

        $('#subCategorySelect').change(function () {
            var subCategoryId = $("select#subCategorySelect option:selected").val();
            LoadProducts(subCategoryId);
        });

        $('#productSelect').change(function () {
            var productId = $("select#productSelect option:selected").val();
            ProductDetailsOfSelected(productId);
        });


        function LoadSubCategories(categoryId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadSubCategories", "Group")',
                data: { categoryId: categoryId },
                success:
                    function (data) {
                    $('#subCategorySelect').get(0).options.length = 0;
                    $('#subCategorySelect').get(0).options[0] = new Option("בחר", "0");
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        $("#subCategorySelect").get(0).options[$("#subCategorySelect").get(0).options.length] = new Option(item.name, item.productSubCategoryID);
                    }
                }
            });
        }

        function LoadProducts(subCategoryId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadProducts", "Group")',
                data: { subCategoryId: subCategoryId },
                success:
                    function (data) {
                        $('#productSelect').get(0).options.length = 0;
                        $('#productSelect').get(0).options[0] = new Option("בחר", "0");
                        for (var i = 0; i < data.length; i++) {
                            var item = data[i];
                            $("#productSelect").get(0).options[$("#productSelect").get(0).options.length] = new Option(item.title, item.productID);
                        }
                    }
            });
        }
    });


        function ProductDetailsOfSelected(productId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadProductDetails", "Business")',
            data: { productId: productId },
            success:
                function (data) {
                    console.log(data);
                    if (data["productCellphone"] != null) {
                        console.log(data["productCellphone"]);
                        $(".productDetails").css('display', 'block');
                        $("#productDetailsText").html("מצלמה אחורית: " + data["productCellphone"].backCamera + " מגה פיקסל <br> מצלמה קדמית: " + data["productCellphone"].frontCamera + " מגה פיקסל <br> מערכת הפעלה: " + data["productCellphone"].operationSystem + "<br> גודל מסך: " + data["productCellphone"].screenSize + " אינץ' <br> נפח אחסון: " + data["productCellphone"].storageCapacity + " GB");
                    }
                    else if (data["Product_Television"] != null) {

                    }
                }
        });
    }
</script>


<div class="bg">
    @using (Html.BeginForm("SaveProductToBusiness", "Business", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="container">
            <div class="row">
                <br />
                <h2> בחר את המוצר אותו תרצה להוסיף למלאי שלך</h2>
                <br />
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-3">
                            <h3>   קטגוריה </h3>
                        </div>
                        <div class="col-md-9">
                            <select name="CategoryID" class="form-control" id="categorySelect">
                                <option value="0">בחר</option>
                                @foreach (var category in Model.addProductToBusiness.productCategories)
                                {
                                    <option value="@category.productCategoryID">@category.name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-3">
                            <h3> תת-קטגוריה </h3>
                        </div>
                        <div class="col-md-9">
                            <select name="SubCategoryID" class="form-control" id="subCategorySelect">
                                <option value="0">בחר קטגוריה</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-3">
                            <h3> מוצר  </h3>
                        </div>
                        <div class="col-md-9">
                            <select name="ProductID" class="form-control" id="productSelect">
                                <option value="0">בחר תת קטגוריה</option>
                                @*@foreach (var product in Model.addProductToBusiness.products)
                                {
                                    <option value="@product.productID">@product.title</option>
                                }*@
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">

                <input type="submit" class="btn btn-primary btn-default col-sm-3" value="הוסף" />
                <br />
                <div class="productDetails">
                    <span style="font-size: 18px; color:#ffffff; font-weight: bold;">פרטי המוצר שבחרת:</span>
                    <div id="productDetailsText" style="color:#ffffff;">

                    </div>
                </div>

            </div>

            <br /><br />           
        </div>
    }
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
