﻿@model WebsiteMVC.Models.BusinessDashboardModel

@{
    ViewBag.Title = "Add Product";
}
<h2>הוספת מוצר</h2>

<br /><br />
<div style="float:right; direction:rtl;">
    @using (Html.BeginForm("AddProductToBusiness", "Business", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            קטגוריה
            <div class="col-md-9">
                <select name="CategoryID" style="width: 200px;">
                    <option value="0">ללא</option>
                    @foreach (var category in Model.addProductToBusiness.productCategories)
                    {
                        <option value="@category.productCategoryID">@category.name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            תת-קטגוריה
            <div class="col-md-9">
                <select name="SubCategoryID" style="width: 200px;">
                    <option value="0">ללא</option>
                    @foreach (var subcategory in Model.addProductToBusiness.productSubCategories)
                    {
                        <option value="@subcategory.productSubCategoryID">@subcategory.name</option>
                    }                </select>
            </div>
        </div>

        <div class="form-group">
            מוצר
            <div class="col-md-9">
                <select name="ProductID" style="width: 200px;">
                    <option value="0">ללא</option>
                    @foreach (var product in Model.addProductToBusiness.products)
                    {
                        <option value="@product.productID">@product.title</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="יצירה" />
            </div>
        </div>
    }



</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

