﻿@model WebsiteMVC.Models.BusinessDashboardModel

@{
    ViewBag.Title = "Register";
}

<br /><br /><br />



<div class="container">
    <div class="row">
        
        <div class="col-lg-12"> אתם עומדים להשלים את ההרשמה..
            <br />

        @using (Html.BeginForm("SaveBusinessDetails", "Business", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnUrl" value="@Request.Url.GetLeftPart(UriPartial.Authority)" />
            <input type="hidden" name="businessID" value="0" />

                    <div class="form-group">
                        <div class="col-md-3">
                            שם העסק:
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="businessName" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            כתובת:
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="address" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            לוגו:
                        </div>
                        <div class="col-md-9">
                            <input type="file" name="logo" accept="image/*">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            אתר אינטרנט:
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="website" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            ספר לנו קצת על העסק שלך:
                        </div>
                        <div class="col-md-9">
                            <textarea name="aboutUs"></textarea> 
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-3">כתובת דף פייסבוק: </div>
                        <div class="col-md-9">
                            <input type="text" name="facebookPage" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-3">
                           מספר טלפון 
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="phone"  />
                        </div>
                    </div>

                    

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="סיים הרשמה" class="btn btn-default" />
                        </div>
                    </div>
                }
        </div>
    </div>
</div>


               

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}