﻿@model WebsiteMVC.Models.BusinessDashboardModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="bg">

    <div class="jumbotron text-center">
        <h1>פאנל ניהול לבעלי עסקים</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="linkBox1">
                    <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                    <h2><a href="@Url.Action("GroupsWitingForBid","Business", new { businessID = Model.business.businessID })">קבוצות ממתינות להצעת מחיר</a></h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="linkBox1">
                    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                    <h2><a href="@Url.Action("MyActiveGroups","Business", new { businessID = Model.business.businessID })">קבוצות פעילות שלי</a></h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="linkBox1">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    <h2><a href="@Url.Action("MyProducts","Business", new { businessID = Model.business.businessID })">המוצרים שלי</a></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="linkBox1">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <h2><a href="@Url.Action("AddProductToBusiness","Business")">הוספת מוצר חדש למכירה</a></h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="linkBox1">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    <h2><a href="@Url.Action("Settings","Business")">הגדרות בעל עסק</a></h2>
                </div>
            </div>
        </div>

    </div>

</div>