﻿@model WebsiteMVC.Models.BusinessDashboardModel
@{
    ViewBag.Title = "GroupsWitingForBid";
}

<div style="background-color: rgb(237, 239, 240);  height: 100%;">

    <div class="container">
        <div class="row">     
            <div class="beforeTable">
                <h2>
                    שים לב: בדף זה יופיעו קבוצות שממתינות להצעת מחיר ושאתה מספק את המוצר שלהם. <br />
                </h2>
                <span style="font-size: 20px;">
                    מעוניין להגדיל את מעגל הקבוצות שלך? <a href="@Url.Action("AddProductToBusiness","Business")">לחץ כאן</a> על מנת להוסיף מוצרים חדשים
                </span>
           </div>

                <table class="table table-striped myProucts">
                <thead>
                    <tr style="font-weight: bold;">
                        <th style="text-align: center;">מזהה קבוצה</th>
                        <th style="text-align: center;">מוצר</th>
                        <th style="text-align: center;"> ניתן להגיש הצעה עד.. </th>
                        <th style="text-align: center;"> הגש הצעה </th>
                        <th style="text-align: center;"> כמות עסקים שמתחרים איתך על הקבוצה </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in Model.groupsWaitingForBids)
                    {
                        <tr>
                            <td style="text-align: center;"> @group.groupBuyingID </td>
                            <td style="text-align: center;"> @group.product.title </td>
                            <td style="text-align: center;"> @group.expirationDate.ToString("dd-MM-yyyy")  בשעה @group.expirationDate.ToString("HH:mm")</td>
                            <td style="text-align: center;"> @Html.ActionLink("הגש הצעה", "CreateBidLink", "Bid", new { groupId = group.groupBuyingID, productName = group.product.title }, null) </td>
                            <td style="text-align: center;"> (לבעלי מנוי פרימיום בלבד) </td>

                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
</div>