﻿@model WebsiteMVC.Models.BusinessDashboardModel
@{
    ViewBag.Title = "MyActiveGroups";

}

<div class="container">
    <div class="row">
        <div class="beforeTable">
                @if (Model.myActiveGroups.Count > 0)
                {
                    <h2> ברכות! יש לך כבר @Model.myActiveGroups.Count קבוצות שזכית בהן, הקבוצות עדיין פעילות ועדיין ניתן להצטרף אליהן <br /> </h2>
                }
                else
                {
                    <h2> לצערנו אין כרגע קבוצות שזכיתן בהן. אנחנו ממליצים להכנס לאתר מדי יום ולהגיש הצעות מחיר לכל הקבוצות הרלוונטיות<br /> </h2>
                }
            <span style="font-size: 20px;">
                מעוניין להגדיל את מעגל הקבוצות שלך? <a href="@Url.Action("AddProductToBusiness","Business")">לחץ כאן</a> על מנת להוסיף מוצרים חדשים
            </span>
        </div>


        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th style="text-align: center;">קבוצה</th>
                    <th style="text-align: center;">מוצר</th>
                    <th style="text-align: center;">מועד סגירת הקבוצה</th>
                    <th style="text-align: center;">מספר חברים בקבוצה</th>
                    <th style="text-align: center;">מעקב תשלום חברים</th>
                    <th style="text-align: center;">צפה בהצעה שהגשת</th>
                </tr>
                @foreach (var group in Model.myActiveGroups)
                {
                    <tr>
                        <td style="text-align: center;"> @group.groupBuyingID </td>
                        <td style="text-align: center;"> @group.product.title </td>
                        <td style="text-align: center;"> @group.expirationDate.ToString("dd-MM-yyyy")  בשעה @group.expirationDate.ToString("HH:mm") </td>
                        <td style="text-align: center;"> @group.usersInGroup.Count חברים עד כה</td>
                        <td style="text-align: center;"> בהמשך... </td>
                        <td style="text-align: center;"> <a style="color: red;" href="@Url.Action("BidDetails","Bid", new { bidId = group.winningBid.bidID })">לצפיה בפרטי ההצעה שלי</a> </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>