﻿@model WebsiteMVC.Models.BusinessDashboardModel
@{
    ViewBag.Title = "MyProducts";
}

<script type="text/javascript">

        function RemoveProductFromBusiness(productId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveProductFromBusiness", "Business")',
                data: { productId: productId },
                success:
                    function (data) {
                        if (data) {
                            $('#product_' + productId).hide();
                        }
                    }
            });
        }    
</script>

<div style="background-color: rgb(237, 239, 240);">

    <div class="container">
        <div class="row">

            <table class="table table-striped myProucts">
                <thead>
                    <tr style="font-weight: bold;">
                        <th style="text-align: center;">שם המוצר</th>
                        <th style="text-align: center;">סוג המוצר</th>
                        <th style="text-align: center;"> הסרה </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.myProducts)
                    {
                        <tr id="product_@product.productID">
                            <td style="text-align: center;"> @product.title </td>
                            <td style="text-align: center;"> @product.productTypeName </td>
                            <td style="text-align: center;"> <a href="#" onclick="RemoveProductFromBusiness('@product.productID');"> הסרת מוצר </a></td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
</div>


