﻿@model WebsiteMVC.Models.BusinessDashboardModel

@{
    ViewBag.Title = "הגדרות עסק";
}

<br />

<div class="container">
    <div class="row"> 
        <div class="col-lg-12">
        @using (Html.BeginForm("UpdateBusinessSettings", "Business", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnUrl" value="@Request.Url.GetLeftPart(UriPartial.Authority)" />
            <input type="hidden" name="businessID" value="@Model.business.businessID" />        
            <div class="form-group">
                        <div class="col-md-3">
                            שם העסק:
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="businessName" value="@Model.business.businessName" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            כתובת:
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="address" value="@Model.business.address" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            לוגו:
                        </div>
                        <div class="col-md-9">
                            <input type="file" name="logo" accept="image/*">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            אתר אינטרנט:
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="website" value="@Model.business.website" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            ספר לנו קצת על העסק שלך:
                        </div>
                        <div class="col-md-9">
                            <textarea name="aboutUs">@Model.business.aboutUs</textarea> 
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-3">כתובת דף פייסבוק: </div>
                        <div class="col-md-9">
                            <input type="text" name="facebookPage" value="@Model.business.facebookPage" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-3">
                           מספר טלפון 
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="phone"  value="@Model.business.phoneNumber" />
                        </div>
                    </div>

                    <br />

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="עדכן פרטי עסק" class="btn btn-default" />
                        </div>
                    </div>
                }
        </div>
    </div>
</div>


               

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}