﻿@model WebsiteMVC.Models.UserModel

@{
    ViewBag.Title = "איפוס סיסמא";
}


<br />
<div class="container">


    @if (Model.changePasswordMailSent)
    {
        <h2>על מנת לסיים את התהליך שלחנו לך אי-מייל, אנא הכנס\י לדואר האלקטרוני על מנת לבחור סיסמא חדשה  </h2>
    }
    else
    {
        <div class="row" id="changePass">
            <div class="col-md-8">
                @using (Html.BeginForm("ChangePassword", "UserAccount", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="returnUrl" value="@Request.Url.GetLeftPart(UriPartial.Authority)" />

                    <h2> איפוס סיסמא בקליק </h2>
                    <hr />

                    <div class="form-group">
                        <div class="col-md-3">
                            אי-מייל:
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="email" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="איפוס סיסמא" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
