﻿@model WebsiteMVC.Models.UserModel

@{
    ViewBag.Title = "Log in";
}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '578999652278537',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<br />
<div class="container">

@if (Model!=null && !Model.login)
{
    <h2 style="color: #000000; margin-right: 25px;"> אירעה שגיאה בהתחברות, נסה שוב </h2>
}

<div class="row">
    <div class="col-md-8">
            @using (Html.BeginForm("Login", "UserAccount",  FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <input type="hidden" name="returnUrl" value="@Request.Url.GetLeftPart(UriPartial.Authority)" />
                <h2> התחבר עכשיו למשתמש שלך באתר </h2>
                <hr />

                <div class="form-group">
                    <div class="col-md-3">
                        שם משתמש:
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="username" />
                        </div>
                    </div>
                <div class="form-group">
                    <div class="col-md-3">
                        סיסמא
                        </div>
                        <div class="col-md-9">
                            <input type="password" name="password" />
                        </div>
                    </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="התחברות" class="btn btn-default" />
                    </div>
                </div>
               
            }

        <br />
        <p> <a href="@Url.Action("Register", "UserAccount")" style="color: red;">הרשמת משתמש חדש</a>  </p>

        <p> <a href="@Url.Action("ChangePassword", "UserAccount")"  style="color: red;">שכחתי סיסמא</a>  </p>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}