﻿@model WebsiteMVC.Models.UserModel

@{
    ViewBag.Title = "Register";
}

<br />
@if (Model != null && !Model.register)
{
    <h2> אירעה שגיאה בהרשמה, נסה שוב </h2>
    <h2> @Model.registerError </h2>
}




<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2> הרשמת משתמש רגיל לאתר </h2>
            <br />

        @using (Html.BeginForm("Register", "UserAccount", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnUrl" value="@Request.Url.GetLeftPart(UriPartial.Authority)" />
                    <div class="form-group">
                        <div class="col-md-3">
                            שם פרטי:
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="firstname" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            שם משפחה:
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="lastname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            אי מייל:
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="email" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            שם משתמש:
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="username" />
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-3">סיסמא: </div>
                        <div class="col-md-9">
                            <input type="password" name="password" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            אישור סיסמא:
                        </div>
                        <div class="col-md-9">
                            <input type="password" name="confirmpassword" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                           אני מעוניין לפתוח חשבון בעל עסק באתר 
                        </div>
                        <div class="col-md-9">
                            <input type="checkbox" name="isBusiness" value="True"  />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-9">
                                <input type="submit" value="אני רוצה להצטרף עכשיו!" class="btn btn-default btn-primary" style="font-size: 17px;" />
                        </div>
                        </div>
                }
        </div>
    </div>
</div>


               

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}