﻿<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <!--[if lte IE 8]><script src="../../Content/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="../../Content/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="../../Content/css/ie9.css" /><![endif]-->
    <noscript><link rel="stylesheet" href="../Content/css/noscript.css" /></noscript>
    <script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script> 
    <link rel="stylesheet" href="~/Content/js/flexSlider/flexslider.css" type="text/css" />
    <script src="~/Content/js/flexSlider/jquery.flexslider.js"></script>
</head>


<body>
    <script src="~/Content/js/jquery-ui.min.js"></script>
     <script type="text/javascript">
        $(document).ready(function () {
            $('#searchInput').autocomplete({
                 source: function (request, response) {
                     $.ajax({
                         url: '@Url.Action("SearchAutocomplete", "Home")',
                         dataType: "json",
                         contentType: 'application/json, charset=utf-8',
                         data: { term: $("#searchInput").val() },
                         success: function (data) {
                             response($.map(data, function (item) {
                                 $("#search_ProductID").val(item.id);
                                 return { label: item.label };
                             }));
                         }
                     });
                 },
                 minLength: 2
             });
         });

    </script>

    

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- Only for mobile -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")"><img src="~/Content/images/logo2.png" class="pull-left" /></a>
            </div>

            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav col-md-6 hidden-sm hidden-xs" style="float: left; margin-left: 50px;">
                    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                    {
                        <input type="text" class="form-control searchGroup col-md-6" id="searchInput" placeholder="אני מחפש קבוצת רכישה ל.." data-autocomplete="@Url.Action("SearchAutocomplete", "Home")">
                        <input type="hidden" name="search_ProductID" id="search_ProductID" />
                        <input type="submit" class="searchButton" value="" />
                    }
                </div>
                <div class="nav navbar-right">  @*navbar-nav*@
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!--[if lte IE 8]><script src="../../Content/js/ie/respond.min.js"></script><![endif]-->
</body>
</html>
