﻿

@if (Navigation.State.CurrentUser != null)
{
        <ul class="nav navbar-nav navbar-right">
            <li style="font-size: 22px; padding-top: 5px; color: #ffffff;">
                <a href="#">שלום @(Navigation.State.CurrentUser.username)</a>
            </li>
            <li style="font-size: 22px; padding-top: 5px; color: #ffffff;">@Html.ActionLink("יציאה", "LogOut", "UserAccount", new { returnUrl = Request.Url.GetLeftPart(UriPartial.Authority) }, null)</li>
        </ul>
}
else
{
    
    <ul class="nav navbar-nav navbar-right">
        <li style="font-size: 22px; padding-top: 5px; color: #ffffff;">@Html.ActionLink("הרשמה לאתר", "Register", "UserAccount")</li>
        <li style="font-size: 22px; padding-top: 5px; color: #ffffff;">@Html.ActionLink("התחברות", "Login", "UserAccount")</li>
    </ul>
}
