﻿@model WebsiteMVC.Models.CreateGroupModel

@{
    ViewBag.Title = "CreateGroup";
}

<head>
    <!-- start Google Analytics -->
    <script type="text/javascript">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-74768513-1', 'auto');
          ga('send', 'pageview');
    </script>
    <!-- end Google Analytics -->

</head>



<script type="text/javascript">
    $(document).ready(function () {
        $('#categorySelect').change(function () {
            var categoryId = $("select#categorySelect option:selected").val();
            LoadSubCategories(categoryId);
        });


        $('#subCategorySelect').change(function () {
            var subCategoryId = $("select#subCategorySelect option:selected").val();
            LoadProducts(subCategoryId);
        });


        function LoadSubCategories(categoryId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadSubCategories", "Group")',
                data: { categoryId: categoryId },
                success:
                    function (data) {
                    $('#subCategorySelect').get(0).options.length = 0;
                    $('#subCategorySelect').get(0).options[0] = new Option("בחר", "0");
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        $("#subCategorySelect").get(0).options[$("#subCategorySelect").get(0).options.length] = new Option(item.name, item.productSubCategoryID);
                    }   
                }
            });
        }
            
        function LoadProducts(subCategoryId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadProducts", "Group")',
                data: { subCategoryId: subCategoryId },
                success:
                    function (data) {
                        $('#productSelect').get(0).options.length = 0;
                        $('#productSelect').get(0).options[0] = new Option("בחר", "0");
                        for (var i = 0; i < data.length; i++) {
                            var item = data[i];
                            $("#productSelect").get(0).options[$("#productSelect").get(0).options.length] = new Option(item.title, item.productID);
                        }
                    }
            });
        }
    });
</script>



<div class="container">
    
    @using (Html.BeginForm("OpenGroup", "Group", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <h2> פתח קבוצה חדשה, שתף אותה עם חברים וקנו את המוצר שאתם צריכים במחיר משתלם במיוחד</h2>
            <br /><br />
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-3">
                        <h3 style="color: #055894;">   קטגוריה </h3>
                    </div>
                    <div class="col-md-9">
                        <select name="CategoryID" class="form-control" id="categorySelect">
                            <option value="0">בחר</option>
                            @foreach (var category in Model.productCategories)
                            {
                                <option value="@category.productCategoryID">@category.name</option>
                            }
                        </select>
                    </div>



                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-3">
                        <h3 style="color: #055894;"> תת-קטגוריה </h3>
                    </div>
                    <div class="col-md-9">
                        <select name="SubCategoryID" class="form-control" id="subCategorySelect">
                            <option value="0">בחר קטגוריה</option>
                           
                        </select>
                    </div>

                </div>
            </div>

            <div class="col-md-4">

                <div class="form-group">
                    <div class="col-md-3">
                        <h3 style="color: #055894;"> מוצר  </h3>
                    </div>
                    <div class="col-md-9">
                        <select name="ProductID" class="form-control" id="productSelect">
                            <option value="0">בחר תת קטגוריה</option>
                            @*@foreach (var product in Model.products)
                            {
                                <option value="@product.productID">@product.title</option>
                            }*@
                        </select>
                    </div>

                </div>

            </div>


        </div>

        <br />

        <div class="row">

            <div class="form-group">
                <div class="col-md-4">
                </div>
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-primary btn-default btn-block" value="יצירה" />
                    </div>
                </div>
        
        </div>
    }

</div>











    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }



