﻿@model WebsiteMVC.Models.GroupBuyingModel

@{
    ViewBag.Title = "קבוצת רכישה למוצר " + Model.group.product.manufacturer.name   +" " + Model.group.product.title;
    //string customFmts = "d MMM yyyy";
    //DateTime time = ViewBag.ExpirationDate;
    bool step = false;
}

<head>  
    @if (Navigation.State.CurrentUser != null)
    {
        <!-- start Google Analytics -->
        <script type="text/javascript">
              var randID = '@Navigation.State.CurrentUser.userID';
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-74768513-1', { 'userId': randID });
              ga('require', 'displayfeatures');
              ga('set', 'dimension4', randID);
              ga('send', 'pageview');
        </script>
        <!-- end Google Analytics -->
    }
</head>

<script type="text/javascript">
    $(document).ready(function () {
        $("body").css('background-image', 'none');
        $("body").css('background-color', '#edeff0');

        $('.flexslider').flexslider({
            prevText: "",          
            nextText: ""      
        });
     });
</script>



<div style="direction:rtl; margin-top: 30px;">

    <div class="container">
        <h2>קבוצת רכישה למוצר @Model.group.product.manufacturer.name @Model.group.product.title</h2>
        <div class="row">
            <div class="col-md-8">

                <div class="rightSide">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="rightSideText">
                               <span class="boldUnderlineDetails">  פרטי המוצר: </span> <br />
                                @if (Model.group.product.productTypeName.Equals(WebsiteMVC.Constants.PRODUCT_CELLPHONE) && Model.group.product.productCellphone != null)
                                {       
                                    <p><span class="boldDetails"> גודל מסך: </span> @Model.group.product.productCellphone.screenSize אינץ'</p>
                                    <p><span class="boldDetails"> מצלמה קדמית: </span> @Model.group.product.productCellphone.frontCamera פיקסלים</p>
                                    <p><span class="boldDetails"> מצלמה אחורית: </span> @Model.group.product.productCellphone.backCamera פיקסלים</p>
                                    <p><span class="boldDetails"> מערכת הפעלה: </span> @Model.group.product.productCellphone.operationSystem</p>
                                    <p><span class="boldDetails"> נפח אחסון: </span> @Model.group.product.productCellphone.storageCapacity GB</p>
                                }
                                <br /><br />
                                <span class="boldUnderlineDetails">  הערות בעל עסק: </span> <h1> @Model.group.winningBid.comment </h1><br />
                                <br /><br />
                                

                            </div>
                        </div>
                        
                        
                        
                        <div class="col-md-6">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img src="@Model.group.product.sliderImage1" />
                                    </li>
                                    <li>
                                        <img src="@Model.group.product.sliderImage2" />
                                    </li>
                                    <li>
                                        <img src="@Model.group.product.sliderImage3" />
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <br /><br />
                    </div>

                    
                </div>
                <br />

                <div class="row rightSide">
                    <div class="col-md-12" style="text-align: center; font-size: 21px;">
                        @if (Model.group.usersInGroup.Count == 0)
                        {
                            <p style="font-weight: bold;"> אין עדיין חברים בקבוצת הרכישה. <br /> 
                        אנחנו מזמינים אותך להצטרף לקבוצה, להזמין חברים ולזכות במחיר משתלם במיוחד! </p>
                        }
                        else
                        {
                            <p style="font-weight: bold;"> עד עכשיו הצטרפו לקבוצה @Model.group.usersInGroup.Count חברים</p>
                        }

                        <!--
                        המחיר כרגע הוא-->
                        @* @Model.totalPrice ש"ח
                        @if (Model.group.usersInGroup.Count < Model.group.winningBid.size_step_1)
                        { <p> אם יצטרפו עוד @(Model.group.winningBid.size_step_1 - Model.group.usersInGroup.Count) חברים, המחיר יתעדכן ל @Model.group.winningBid.price_step_2 ש"ח בלבד!</p> }
                        else if (Model.group.usersInGroup.Count < Model.group.winningBid.size_step_1 + Model.group.winningBid.size_step_2)
                        { <p> אם יצטרפו עוד @((Model.group.winningBid.size_step_1 + Model.group.winningBid.size_step_2) - Model.group.usersInGroup.Count) חברים, המחיר יתעדכן ל @Model.group.winningBid.price_step_3 ש"ח בלבד!</p> }
                        else if (Model.group.usersInGroup.Count < Model.group.winningBid.size_step_3 + Model.group.winningBid.size_step_2 + Model.group.winningBid.size_step_1)
                        { <p> אם יצטרפו עוד @((Model.group.winningBid.size_step_3 + Model.group.winningBid.size_step_1 + Model.group.winningBid.size_step_2) - Model.group.usersInGroup.Count) חברים, המחיר יתעדכן ל @Model.group.winningBid.price_step_4 ש"ח בלבד!</p> }
                        else if (Model.group.usersInGroup.Count < Model.group.winningBid.size_step_4 + Model.group.winningBid.size_step_3 + Model.group.winningBid.size_step_2 + Model.group.winningBid.size_step_1)
                        { <p> אם יצטרפו עוד @((Model.group.winningBid.size_step_4 + Model.group.winningBid.size_step_1 + Model.group.winningBid.size_step_2 + Model.group.winningBid.size_step_3) - Model.group.usersInGroup.Count) חברים, המחיר יתעדכן ל @Model.group.winningBid.price_step_5 ש"ח בלבד!</p> }
                        else
                        { <p> זהו המחיר הטוב ביותר באתר כרגע למוצר זה! </p> }*@

                        <br /><br />

                        <ul class="list-group hidden-xs hidden-sm" style="font-size: 19px;">
                            <li class="list-group-item clearfix" style="border: 0px;">
                                @if (Model.group.usersInGroup.Count < Model.group.winningBid.size_step_1)
                                {
                                    step = true;
                                    <div style="font-size:13.5px; background-color: #ff0000; width: 150px; height: 50px; float: right; font-family: 'Open Sans Hebrew'; font-weight: bold; padding: 0.5em; color: #ffffff;">המחיר כעת: @Model.totalPrice ש"ח</div>
                                    <p class="list-group-item-text">
                                        עוד @(Model.group.winningBid.size_step_1 - Model.group.usersInGroup.Count) חברים והמחיר יתעדכן ל @Model.group.winningBid.price_step_2 ש"ח בלבד!
                                    </p>
                                }
                                else
                                {
                                    if (Model.group.usersInGroup.Count >= Model.group.winningBid.size_step_1)
                                    {
                                        <div style="background-color: #048a44; width: 150px; height: 50px; float: right; font-size: 17px; font-family: 'Open Sans Hebrew'; font-weight: bold; padding: 0.5em; color: #ffffff;"> היעד הושג!</div>         
                                    }
                                    else
                                    {
                                        <div style="background-color: #ff0000; width: 150px; height: 50px; float: right;"> </div>
                                    }
                                    <p class="list-group-item-text">
                                        @Model.group.winningBid.price_step_1 ש"ח מחיר למדרגה זו
                                    </p>
                                }
                            </li>

                            <li class="list-group-item clearfix" style="border: 0px;">
                                @if (Model.group.usersInGroup.Count < Model.group.winningBid.size_step_1 + Model.group.winningBid.size_step_2 && !step)
                                {
                                    step = true;
                                    <div style="background-color: #ff0000; width: 225px; height: 50px; float: right; font-family: 'Open Sans Hebrew'; font-weight: bold; padding: 0.5em; color: #ffffff;">המחיר כעת: @Model.totalPrice ש"ח</div>
                                    <p class="list-group-item-text">
                                        עוד @((Model.group.winningBid.size_step_1 + Model.group.winningBid.size_step_2) - Model.group.usersInGroup.Count) חברים והמחיר יתעדכן ל @Model.group.winningBid.price_step_3 ש"ח בלבד! 
                                    </p>
                                }
                                else
                                {
                                    if (Model.group.usersInGroup.Count >= Model.group.winningBid.size_step_1 + Model.group.winningBid.size_step_2)
                                    {
                                        <div style="background-color: #048a44; width: 225px; height: 50px; float: right; font-size: 17px; font-family: 'Open Sans Hebrew'; font-weight: bold; padding: 0.5em; color: #ffffff;"> היעד הושג!</div>
                                        
                                    }
                                    else
                                    {
                                        <div style="background-color: #ff0000; width: 225px; height: 50px; float: right;"> </div>
                                    }
                                    <p class="list-group-item-text">
                                        @Model.group.winningBid.price_step_2 ש"ח מחיר למדרגה זו
                                    </p>
                                }
                            </li>

                            <li class="list-group-item clearfix" style="border: 0px;">
                                @if (Model.group.usersInGroup.Count < Model.group.winningBid.size_step_3 + Model.group.winningBid.size_step_2 + Model.group.winningBid.size_step_1 && !step)
                                {
                                    step = true;
                                    <div style="background-color: #ff0000; width: 300px; height: 50px; float: right; font-family: 'Open Sans Hebrew'; font-weight: bold; padding: 0.5em; color: #ffffff; ">המחיר כעת: @Model.totalPrice ש"ח</div>
                                    <p class="list-group-item-text">
                                        עוד @((Model.group.winningBid.size_step_3 + Model.group.winningBid.size_step_1 + Model.group.winningBid.size_step_2) - Model.group.usersInGroup.Count) חברים והמחיר יתעדכן ל @Model.group.winningBid.price_step_4 ש"ח בלבד!
                                    </p>
                                }
                                else
                                {
                                    if (Model.group.usersInGroup.Count >= Model.group.winningBid.size_step_3 + Model.group.winningBid.size_step_2 + Model.group.winningBid.size_step_1)
                                    {
                                        <div style="background-color: #048a44; width: 300px; height: 50px; float: right; font-size: 17px; font-family: 'Open Sans Hebrew'; font-weight: bold; padding: 0.5em; color: #ffffff;"> היעד הושג!</div>
                                        <p class="list-group-item-text">
                                            @Model.group.winningBid.price_step_3 ש"ח מחיר למדרגה זו
                                        </p>
                                    }
                                    else
                                    {
                                        <div style="background-color: #ff0000; width: 300px; height: 50px; float: right;"></div>
                                        <p class="list-group-item-text">
                                            @Model.group.winningBid.price_step_3 ש"ח מחיר למדרגה זו
                                        </p>
                                    }
                                }
                            </li>

                            <li class="list-group-item clearfix" style="border: 0px;">
                                @if (Model.group.usersInGroup.Count < Model.group.winningBid.size_step_4 + Model.group.winningBid.size_step_3 + Model.group.winningBid.size_step_2 + Model.group.winningBid.size_step_1 && !step)
                                {
                                    step = true;
                                    <div style="background-color: #ff0000; width: 375px; height: 50px; float: right; font-family: 'Open Sans Hebrew'; font-weight: bold; padding: 0.5em; color: #ffffff;">המחיר כעת: @Model.totalPrice ש"ח</div>
                                    <p class="list-group-item-text">
                                        עוד @((Model.group.winningBid.size_step_4 + Model.group.winningBid.size_step_1 + Model.group.winningBid.size_step_2 + Model.group.winningBid.size_step_3) - Model.group.usersInGroup.Count) חברים והמחיר יתעדכן ל @Model.group.winningBid.price_step_5 ש"ח בלבד!
                                    </p>
                                }
                                else
                                {
                                    if (Model.group.usersInGroup.Count >= Model.group.winningBid.size_step_4 + Model.group.winningBid.size_step_3 + Model.group.winningBid.size_step_2 + Model.group.winningBid.size_step_1)
                                    {
                                        <div style="background-color: #048a44; width: 375px; height: 50px; float: right; font-size: 17px; font-family: 'Open Sans Hebrew'; font-weight: bold; padding: 0.5em; color: #ffffff;"> היעד הושג!</div>
                                        <p class="list-group-item-text">
                                            @Model.group.winningBid.price_step_4 ש"ח מחיר למדרגה זו
                                        </p>
                                    }
                                    else
                                    {
                                        <div style="background-color: #ff0000; width: 375px; height: 50px; float: right;"></div>
                                        <p class="list-group-item-text">
                                            @Model.group.winningBid.price_step_4 ש"ח מחיר למדרגה זו
                                        </p>
                                    }
                                }
                            </li>

                            <li class="list-group-item clearfix" style="border: 0px;">
                                @if (Model.group.usersInGroup.Count <= Model.group.winningBid.size_step_5 + Model.group.winningBid.size_step_4 + Model.group.winningBid.size_step_3 + Model.group.winningBid.size_step_2 + Model.group.winningBid.size_step_1 && !step)
                                {
                                    step = true;
                                    <div style="background-color: #ff0000; width: 450px; height: 50px; float: right; font-family: 'Open Sans Hebrew'; font-weight: bold; padding: 0.5em; color: #ffffff;">המחיר כעת: @Model.totalPrice ש"ח</div>
                                    <p class="list-group-item-text">
                                        זהו המחיר הטוב ביותר באתר כרגע למוצר זה!
                                    </p>
                                }
                                else
                                {
                                    <div style="background-color: #ff0000; width: 450px; height: 50px; float: right;">  </div>
                                    <p class="list-group-item-text">
                                        @Model.group.winningBid.price_step_5 ש"ח מחיר למדרגה זו
                                    </p>
                                }
                            </li>
                        </ul>
                         <br />
                        <p style="font-weight: bold;">
                            הקבוצה פתוחה רק עד: @Model.group.expirationDate.ToString("dd-MM-yyyy")  בשעה @Model.group.expirationDate.ToString("HH:mm")
                        </p>

                        <br /><br />

                    </div>
                </div>
            </div>
            
             
             
          
            
            
            
            
              
             <div class="col-md-4">
                 <div class="leftPriceBox">
                     <div class="priceTitle">
                        קנו את המוצר עכשיו!
                     </div>

                     <div class="aboutPrice">
                         המחיר כרגע הוא <span style="font-weight:bold; font-size: 26px;">@Model.totalPrice ש"ח</span> בלבד
                         <br />
                         @{
                             BLL.User inGroup = null;
                             if (Navigation.State.CurrentUser != null)
                             {
                                 inGroup = Model.group.usersInGroup.Where(u => u.userID == Navigation.State.CurrentUser.userID).FirstOrDefault();
                             }
                             
                             if (inGroup != null)
                             {
                                 <h3 style="font-family: 'Open Sans Hebrew'; font-weight: normal;"> אתה כבר הצטרפת לקבוצה.. עדכונים בהמשך</h3>
                             }
                             else
                             {
                                 if (Navigation.State.CurrentUser != null)
                                 {
                                     if (Navigation.State.CurrentUser.isBusiness)
                                     {
                                        <h2 style="font-family: 'Open Sans Hebrew'; font-weight: normal; margin-top: 10px; margin-bottom: 10px;"> בעל עסק לא יכול להצטרף לקבוצה </h2>
                                     }
                                     else
                                     {
                                        <h2 style="font-family: 'Open Sans Hebrew'; font-weight: normal; margin-top: 10px; margin-bottom: 10px;"> @Html.ActionLink("אני רוצה להצטרף לקבוצה!", "JoinGroup", "Group", new { groupId = Model.group.groupBuyingID, productTypeName = Model.group.product.productTypeName }, null)</h2>
                                     }
                                 }
                                 else
                                 {
                                        <h2 style="font-family: 'Open Sans Hebrew'; font-weight: normal; margin-top: 10px; margin-bottom: 10px;"> @Html.ActionLink("יש להתחבר לאתר על מנת להצטרף לקבוצה", "Login", "UserAccount", new { returnUrl = Request.Url.GetLeftPart(UriPartial.Authority) }, null)</h2>
                                 }

                             }
                        }
                     </div>
                 </div>

                 <br />

                <div class="side_out">
                    <div class="businessTitle">
                       @Model.business.businessName
                    </div>
                   
                    <div class="aboutBusiness">
                        <img src="@Model.business.businessLogo" style="max-width: 170px; display: block; margin: 0 auto; margin-bottom: 10px;"/>

                        @Model.business.aboutUs
                        <br /><br />

                        ליצירת קשר: @Model.business.phoneNumber
                        <br />
                        <a href="@Model.business.website" target="_blank">אתר אינטרנט</a>
                        <br />
                        <a href="@Model.business.facebookPage" target="_blank">דף פייסבוק</a>
                        <br />
                        כתובת: @Model.business.address
                        <br />
                        <br />

                        עוד מוצרים שאנחנו מוכרים:
                        @foreach(BLL.Product p in Model.business.products)
                        {
                            <p> @p.title </p>
                        }

                    </div>



                </div>

            </div>
        </div>
    </div>





  




</div>

