﻿@model WebsiteMVC.Models.GroupBuyingModel

@{
    ViewBag.Title = "קבוצת רכישה חדשה נוצרה!";
}
<style>

</style>

<script type="text/javascript">
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }

    window.onload = function () {
        var fiveMinutes = 60 * (@Constants.MAX_TIME_GRPUO_OFFER - 180),
            display = document.querySelector('#time');
        startTimer(fiveMinutes, display);
    };
</script>

<div class="bg">
    <div style="margin: 0 auto; text-align: center; padding-top: 30px; ">
        <h1 style="font-family: 'Open Sans Hebrew'; font-weight: bold; font-size: 25px;">בזה הרגע יצרת קבוצת רכישה חדשה!</h1>
        <h2 style="font-family: 'Open Sans Hebrew'; font-size: 21px;"> כעת אנחנו עובדים על מנת להשיג לך ולשאר החברים את ההצעה הטובה ביותר</h2>
        <br />
        <br />
        <h2 style="font-family: 'Open Sans Hebrew'; font-size: 21px;"> הקבוצה תפתח בעוד.. </h2>
        <div style="font-family: 'Open Sans Hebrew'; font-size: 24px; font-weight: bold; color: #ffffff;"> ..הקבוצה תיהיה זמינה בעוד <span id="time"></span>   </div>
    </div>  
</div>


