@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

/*
	Parallelism by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Basic */

	body {
		/*background-image: url('../../images/bg.jpg');
		background-size: cover;
		-ms-behavior: url('assets/js/ie/backgroundsize.min.htc');*/
	}