﻿@model WebsiteMVC.Models.ErrorModel

@{  
    ViewBag.Title = "Kueep Buy Together - שגיאה";
}   

<div class="bg">
    <div style="margin: 0 auto; text-align: center; padding-top: 30px; ">
        <h1 style="font-family: 'Open Sans Hebrew'; font-weight: bold; font-size: 25px;">אין לך גישה לדף זה!</h1>
        <h2 style="font-family: 'Open Sans Hebrew'; font-size: 21px;"> @Model.errorMessage</h2>
        <br />
        <br />
        <img src="~/Content/images/no-entry.png" style="max-width: 350px;" />
    </div>
</div>

