﻿@{  
    ViewBag.Title = "Kueep Buy Together - לא מצאנו את הקבוצה המבוקשת";
}   

<div class="bg">
    <div style="margin: 0 auto; text-align: center; padding-top: 30px; ">
        <h1 style="font-family: 'Open Sans Hebrew'; font-weight: bold; font-size: 25px;">לא מצאנו קבוצה שתואמת את החיפוש שלך, נסה שנית או פתח קבוצה חדשה</h1>
        <br />
        <br />
    </div>
</div>

