﻿@model BLL.HomePageModel

@{
    int productNameIndex = 0;
    ViewBag.Title = "Kueep Buy Together - דף הבית";
}


<div class="bg">
    <div id="main">
        <div id="reel">

            <!-- Header Item -->
            <div id="header" class="item" data-width="282">
                <div class="inner">
                    <h1><a href="@Url.Action("CreateGroup", "Group")" style="font-weight: bold;"> פתיחת קבוצה </a></h1>
                    <p>
                        קנה את המוצר שאתה הכי רוצה, ביחד עם הרבה חברים... בזול!
                    </p>
                </div>
            </div>

            <!-- Thumb Items -->
            @for (int i = 0; i < 9; i++)
            {

                if (Model.products.Count != 0 && productNameIndex < Model.products.Count && Model.products[productNameIndex] != null)  // existing group
                {
                    <article class="item thumb" data-width="282">
                        <div class="groupDetails">
                            <h2 class="homepageH2">
                                <a href="@Url.Action("Group", "Group", new { groupId = Model.products[productNameIndex].groupObjectId, productTypeName = "product_cellphone" })">הצטרף לרכישה קבוצתית של  @Model.products[productNameIndex].title </a>
                            </h2>

                            <p class="hidden-sm hidden-xs" style="text-align: center; font-size: 14px; color: #ffffff;">זכרון: GB @Model.products[productNameIndex].storage מצלמה: @Model.products[productNameIndex].camera מגה פיקסל</p>

                        </div>

                        @if ((Model.products[productNameIndex].groupExpitationDate - DateTime.Now).Days > 0)
                        {
                            <span class="homePageGroupUntil"> @((Model.products[productNameIndex].groupExpitationDate - DateTime.Now).Days) ימים<br /> לסיום!</span>
                        }
                        else if ((Model.products[productNameIndex].groupExpitationDate - DateTime.Now).Hours > 0 && (Model.products[productNameIndex].groupExpitationDate - DateTime.Now).Hours < 24)
                        {
                            <span class="homePageGroupUntil"> @((Model.products[productNameIndex].groupExpitationDate - DateTime.Now).Hours) שעות<br /> לסיום!</span>
                        }
                        else if ((Model.products[productNameIndex].groupExpitationDate - DateTime.Now).Minutes > 0 && (Model.products[productNameIndex].groupExpitationDate - DateTime.Now).Minutes < 60)
                        {
                            <span class="homePageGroupUntil"> @((Model.products[productNameIndex].groupExpitationDate - DateTime.Now).Minutes) דקות<br />  לסיום!</span>
                        }

                        <a href="@Url.Action("Group", "Group", new { groupId = Model.products[productNameIndex].groupObjectId, productTypeName = "product_cellphone" })"> <img src="@Model.products[productNameIndex].imageUrl" /></a>

                        <div style="background-image: url('@Model.products[productNameIndex].imageUrl'); background-position: top center;
                            background-size: 100% auto; height: 100%;"></div>
                    </article>
                }
                else // no group to show, so use "open new group" image & text
                {
                    <article class="item thumb" data-width="282">
                        <div class="groupDetailsClickToOpen">
                            <h2 style="font-family:'Open Sans Hebrew'; font-weight: bold;">@Html.ActionLink("לחץ כאן לפתיחת קבוצה חדשה!", "CreateGroup", "Group")</h2>

                        </div>

                        <a href="@Url.Action("CreateGroup", "Group")"><img src="~/Content/images/group3.jpg" /></a>
                    </article>
                }
                productNameIndex++;
            }
        </div>
    </div>


    <div id="footer">
        <div class="right">
            <p> <a href="@Url.Action("Dashboard", "Business")" class="mobileLink">זירת בעלי עסקים</a> </p>
        </div>
        <div class="left">
            <ul class="contact">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </div>
    </div>
</div>