﻿.bg { background-image: url('images/bg.jpg'); background-size: 100% 100%; height: 100%; }
.beforeTable { margin-top: 20px; margin-bottom: 70px; }
.beforeTable a { color: #de3128; }
.homepageH2 { font-weight: bold; font-size: 17px; }

.side_out { background: #5d6673; overflow: hidden; color: #fff; border-radius: 3px; box-shadow: 0 3px 5px #ddd; }
.rightSide { height: 100%; background: #ffffff; color: #000000; -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.36); }
.rightSideText{ padding-right: 10px; padding-left: 10px; }
.rightSideText h1 { font-size: 25px; font-family: 'Open Sans Hebrew';  color: #1a1f2c; }
.rightSideText h2 { color: #000000; text-align: center; }
.rightSideText span.boldDetails { font-weight: bold; }
.rightSideText span.boldUnderlineDetails { font-weight: bold; text-decoration: underline; }

.businessTitle { background: #525a67; color: #fff; padding: 20px 30px; text-transform: uppercase; font-size: 15px; text-align: center; font-weight: bold; }
.aboutBusiness { padding-top: 15px; padding-right: 10px; padding-left: 10px; }

.leftPriceBox { background: #4CB5E8; overflow: hidden; color: #fff; border-radius: 3px; box-shadow: 0 3px 5px #ddd; }
.priceTitle { background: #5480A7; color: #fff; padding: 20px 30px; text-transform: uppercase; font-size: 15px; text-align: center; font-weight: bold; }
.aboutPrice { text-align: center; padding-top: 15px; padding-right: 10px; padding-left: 10px; }


/* --------- Homepage CSS --------- */
.homePageGroupUntil { font-size:14px; font-weight:bold; position: absolute;right:0;top:0; z-index: 1; padding-right: 4px; padding-top: 4px; background-color: #de3128; color: #ffffff; border-bottom-left-radius: 90%; width: 70px; height: 50px; line-height: 16px; }
.searchButton { background: url("images/search.png") no-repeat 90%; background-color: #00aeef; width: 48px; margin-top: 5px; border: 0px; height: 52px; padding-top: 4px; }
.item.thumb .groupDetails { position: absolute; bottom: 0; left: 0; background: #1a1f2c; background: rgba(18, 21, 29, 0.75); width: 100%; padding: 0.75em; font-weight: 400; line-height: 1em; z-index: 2; }
.item.thumb .groupDetailsClickToOpen { position: absolute; bottom: 0; left: 0; background: #1a1f2c; width: 100%; padding: 1em; font-weight: 400; line-height: 1em; z-index: 2; opacity: 0.95; }



/* --------- Business Dashboard CSS --------- */
.linkBox1 { text-align: center; border: 1px solid; background-color: #C5BFBF; padding: 20px; margin-left: 10px; font-size: 30px; line-height: 35px; margin-bottom: 5px;  }
.productDetails { display: none; }
.jumbotron { color: #066983; }
.jumbotron h1 { font-family: 'Open Sans Hebrew'; font-weight: bold; font-size: 50px; letter-spacing: 0em; }
.myProucts a { color: #de3128; }
.bidLink tr > td {   padding-bottom: 0.9em; }
.bidLink td { width: 160px; }

/********* Botstrap changes starts here *********/
.form-group {
    height: 30px;
}

.navbar{
    min-height: 65px;
    background-color: #373737;
    margin-bottom: 0px;

}

.navbar-default{
    border: 0px;
    /*box-shadow: 2px 2px 2px #888888;*/
}

.row {
    direction: rtl;
    margin: 0;
    padding-top: 15px;
    padding-right: 15px;
}

.row h2 {
    font-family: 'Open Sans Hebrew';
    font-weight: bold;
    font-size: 21px;
}

.row h3 { font-family: 'Open Sans Hebrew'; font-weight: bold; font-size: 15px; }

input[type="submit"].btn-block {
    font-size: 23px;
}

.col-md-8 { margin-bottom: 20px; }

.navbar-inverse {
    border: 0px;
}

.container h2 { font-family: 'Open Sans Hebrew'; font-weight: bold; font-size: 26px; color: rgba(18, 21, 29, 0.75); }

@media (min-width: 768px){   
    .form-control.searchGroup {
        margin-top: 5px;
        height: 52px;
        width:60%;
        border-radius: 0px;
        font-size: 23px;
        padding-right: 10px;
    }

    
}



@media (min-width: 992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11 {
        float: right;
        padding-right: 0px;
    }
}


@media (max-width: 767px) {
    
    
    .homepageH2 {
        font-size: 15px;
    }

    .groupDetails{
        padding: 1.2em !important;
    }

    
}

