/*
	Parallelism by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
        direction: rtl;
        font-family: 'Open Sans Hebrew';
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}


	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Basic */

	body {
		position: relative;
		font-family: 'Source Sans Pro';
		font-weight: 400;
        direction: rtl;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

	a {
		color: #fff;
		color: rgba(255, 255, 255, 0.85);
		text-decoration: none;
		-moz-transition: color 0.25s ease-in-out;
		-webkit-transition: color 0.25s ease-in-out;
		-ms-transition: color 0.25s ease-in-out;
		transition: color 0.25s ease-in-out;
	}

		a:hover {
			color: #d64760;
		}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		color: #fff;
		letter-spacing: -0.05em;
        font-family: Arial;
	}

	strong, b {
		color: #fff;
		color: rgba(255, 255, 255, 0.85);
		font-weight: 600;
	}

/* List */

	ul.contact {
		cursor: default;
		margin: 0 0 1em 0;
	}

		ul.contact li {
			display: inline-block;
			font-size: 1.5em;
		}

			ul.contact li span {
				display: none;
			}

			ul.contact li a {
				opacity: 0.35;
				color: #fff;
				-moz-transition: opacity 0.25s ease-in-out;
				-webkit-transition: opacity 0.25s ease-in-out;
				-ms-transition: opacity 0.25s ease-in-out;
				transition: opacity 0.25s ease-in-out;
			}

				ul.contact li a:hover {
					opacity: 1.0;
				}

/* Item */

	.item.thumb {
		display: block;
		position: relative;
		background: #1a1f2c;
		background: rgba(255, 255, 255, 0.25);
		cursor: default;
	}

		/*.item.thumb h2 {
			position: absolute;
			bottom: 0;
			left: 0;
			background: #1a1f2c;
			background: rgba(18, 21, 29, 0.75);
			width: 100%;
			padding: 1em;
			font-weight: 400;
			line-height: 1em;
			z-index: 2;
		}*/

        

		.item.thumb img {
			display: block;
			/*z-index: 1;*/
		}

/* Icons */

	.icon {
		position: relative;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* Wrapper */

	#wrapper {
		position: relative;
		z-index: 1;
	}

/* Main */

/* Header */

	#header {
		position: relative;
		background: #d64760 /*url("images/overlay.png")*/;
		color: #fff;
		cursor: default;
	}

		#header p {
			opacity: 0.65;
		}

/* Desktop */

	@media screen and (min-width: 737px) {

			html {
				height: 100%;
			}

			body {
				/*background-image: url("../images/overlay.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../images/bg.jpg");
				background-position: top left, bottom left, auto;
				background-size: auto, 100% 100%, cover;
				background-repeat: repeat, no-repeat, auto;*/
				padding: 0;
				font-size: 12pt;
				line-height: 1.75em;
				height: 100%;
				min-height: 450px;
				min-width: 1000px;
                direction: rtl;
			}

		/* List */

			ul.contact {
				margin-bottom: 0.5em;
			}

				ul.contact li {
					margin-left: 1em;
				}

		/* Wrapper */

			#wrapper {
				height: 100%;
				overflow: hidden;
				-moz-transition: -moz-filter 0.25s ease-in-out;
				-webkit-transition: -webkit-filter 0.25s ease-in-out;
				-ms-transition: -ms-filter 0.25s ease-in-out;
				transition: filter 0.25s ease-in-out;
			}

				#wrapper.overlayed {
					-moz-filter: blur(3px);
					-webkit-filter: blur(3px);
					-ms-filter: blur(3px);
					filter: blur(3px);
				}

		/* Main */

			#main {
				width: 100%;
				position: absolute;
			}

		/* Reel */

			#reel {
				position: relative;
				opacity: 0;
                direction: rtl;
			}

				#reel .item {
					display: block;
					float: right;
					position: relative;
					overflow: hidden;
                    
				}

		/* Header */

			#header {
				padding: 2em 3em;
				min-height: 212px;
				vertical-align: middle;
			}

				/*#header:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
				}*/

				#header .inner {
					display: inline-block;
					vertical-align: middle;
				}

				#header h1 {
					font-size: 30px;
					line-height: 1em;
                    font-family: 'Open Sans Hebrew';
				}

                #header h1 a:hover {
                    color: #0d4ca4;
                    text-decoration:none;
				}

				#header p {
					font-size: 1.25em;
                    font-weight: bold;
					line-height: 1.5em;
					margin: 0.5em 0 0 0;
				}

		/* Footer */

			#footer {
				position: fixed;
				bottom: 0;
				left: 0;
				width: 100%;
				overflow: hidden;
			}

				#footer h2 {
					font-size: 2.25em;
					margin: 0 0 1em 0;
				}

				#footer .left {
					padding: 2em;
				    float: left;
                    }

				#footer .right {
					position: absolute;
					bottom: 0;
					right: 0;
					padding: 1.5em;
                    float: right;
                    font-weight: bold;
				}

				#footer .copyright li {
					display: inline-block;
					margin-left: 1em;
					padding-left: 1em;
					border-left: solid 1px #333;
					border-left-color: rgba(255, 255, 255, 0.25);
					line-height: 1em;
				}

					#footer .copyright li:first-child {
						border-left: 0;
						margin-left: 0;
						padding-left: 0;
					}

		/* Popup */

			.poptrox-popup {
				background: #1a1f2c;
				background: rgba(18, 21, 29, 0.9);
				box-shadow: 0px 0px 0px 10px #fff, 0px 10px 60px 10px rgba(8, 11, 19, 0.55);
				cursor: default;
			}

				.poptrox-popup .loader {
					display: block;
					width: 48px;
					height: 48px;
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -24px 0 0 -24px;
					background: url("images/loader.gif");
					opacity: 0.25;
				}

				.poptrox-popup .caption {
					position: absolute;
					bottom: 0;
					left: 0;
					background: #1a1f2c;
					background: rgba(18, 21, 29, 0.85);
					display: block;
					width: 100%;
					line-height: 75px;
					text-align: center;
					font-size: 1.25em;
					color: #fff;
				}

				.poptrox-popup .nav-next, .poptrox-popup .nav-previous, .poptrox-popup .closer {
					text-decoration: none;
					font-weight: normal;
					font-style: normal;
					-moz-transition: opacity 0.25s ease-in-out;
					-webkit-transition: opacity 0.25s ease-in-out;
					-ms-transition: opacity 0.25s ease-in-out;
					transition: opacity 0.25s ease-in-out;
					opacity: 0.35;
				}

					.poptrox-popup .nav-next:hover, .poptrox-popup .nav-previous:hover, .poptrox-popup .closer:hover {
						opacity: 1.0;
					}

				.poptrox-popup .nav-next, .poptrox-popup .nav-previous {
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
					width: 150px;
					height: 75px;
					position: absolute;
					bottom: 0;
					cursor: pointer;
					font-size: 3em;
					line-height: 75px;
				}

				.poptrox-popup .nav-next {
					right: 0;
					text-align: right;
					padding-right: 30px;
				}

					.poptrox-popup .nav-next:before {
						content: '\f105';
					}

				.poptrox-popup .nav-previous {
					left: 0;
					text-align: left;
					padding-left: 30px;
				}

					.poptrox-popup .nav-previous:before {
						content: '\f104';
					}

				.poptrox-popup .closer {
					width: 35px;
					height: 35px;
					font-size: 2em;
					line-height: 35px;
					text-align: center;
					position: absolute;
					top: -70px;
					right: -70px;
					cursor: pointer;
					border-radius: 40px;
					box-shadow: 0px 0px 0px 1px #fff;
				}

					.poptrox-popup .closer:before {
						content: "\00d7";
					}

	}

/* Mobile */

	@media screen and (max-width: 736px) {


		/* Basic */
        body {
				font-size: 12pt;
				line-height: 1.75em;
		}

		/* List */

			ul.contact li {
				margin: 0 0.35em 0 0.35em;
			}

		/* Item */

			.item {
				border: 0;
			}

				.item.thumb {
					width: 50%;
					float: left;
					height: 9em;
					position: relative;
				}

					.item.thumb h2 {
						/*display: none;*/
                        text-align: center; 
                    }

					.item.thumb a {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
					}

					.item.thumb img {
						display: none;
					}

		/* Wrapper */

			#wrapper.overlayed {
				-moz-filter: blur(1px);
				-webkit-filter: blur(1px);
				-ms-filter: blur(1px);
				filter: blur(1px);
			}

		/* Header */

			#header {
				padding: 2.5em 1.5em;
				text-align: center;
			}

				#header h1 {
					font-size: 2.4em;
                    font-weight: bold;

				}

				#header p {
					font-size: 1.2em;
					line-height: 1.5em;
					margin: 0.75em 0 0 0;
				}

        .form-group {
            height: 30px;
            margin-bottom: 40px;
        }

        .row {
                padding-right: 0px;
        }
		/* Main */

			#main {
				overflow: hidden;
			}

		/* Footer */

			#footer {
				padding: 0.5em;
				text-align: center;
			}

				#footer br {
					display: none;
				}

				#footer .right {
					border-top: solid 1px rgba(255, 255, 255, 0.1);
					padding: 2em 0 0 0;
				}

                #footer .right a {
                     font-size: 25px;
                     font-weight: bold;
                }

				#footer .copyright {
					margin: 2em 0 0 0;
				}

		/* Popup */

			.poptrox-popup {
				background: #0a0f1c;
				box-shadow: 0px 0px 30px 10px rgba(8, 11, 19, 0.85);
				border: solid 2.5px #fff;
				-moz-box-sizing: content-box;
				-webkit-box-sizing: content-box;
				-ms-box-sizing: content-box;
				box-sizing: content-box;
			}

	}