﻿@model ClientMVC.Models.GroupBuyingModel

@{
    int productNameIndex = 0;
}

<div id="wrapper">

    <div id="main">
        <div id="reel">

            <!-- Header Item -->

            <div id="header" class="item" data-width="400">
                <div class="inner">
                    <h1>פתיחת קבוצה</h1>
                    <p>
                        קנה את המוצר שאתה רוצה,<br />
                       בזול!
                    </p>
                </div>
            </div>

            <!-- Thumb Items -->

            <article class="item thumb" data-width="282">
                <h2>@Model.groups[productNameIndex].groupBuyindID</h2>
                <a href="images/fulls/01.jpg" class="image"><img src="~/Content/g3.jpg" alt=""></a>
            </article>

            <article class="item thumb" data-width="384">
                <h2>Galaxi5</h2>
                <a href="galaxi5.jpg" class="image"><img src="~/Content/galaxi5.jpg" alt=""></a>
            </article>

            <article class="item thumb" data-width="274">
                <h2>Iphone 6</h2>
                <a href="images/fulls/06.jpg" class="image"><img src="~/Content/iphone-6.jpg" alt=""></a>
            </article>

            <article class="item thumb" data-width="282">
                <h2>Nokia</h2>
                <a href="images/fulls/04.jpg" class="image"><img src="../Content/images/thumbs/04.jpg" alt=""></a>
            </article>

            <article class="item thumb" data-width="476">
                <h2>Kingdom of the Wind</h2>
                <a href="images/fulls/05.jpg" class="image"><img src="../Content/images/thumbs/05.jpg" alt=""></a>
            </article>

            <article class="item thumb" data-width="232">
                <h2>The Pursuit</h2>
                <a href="images/fulls/06.jpg" class="image"><img src="~/Content/iphone-6.jpg" alt=""></a>
            </article>

            <article class="item thumb" data-width="352">
                <h2>Boundless</h2>
                <a href="images/fulls/07.jpg" class="image"><img src="../Content/images/thumbs/07.jpg" alt=""></a>
            </article>

            <article class="item thumb" data-width="348">
                <h2>The Spectators</h2>
                <a href="images/fulls/08.jpg" class="image"><img src="../Content/images/thumbs/08.jpg" alt=""></a>
            </article>

            <!-- Filler Thumb Items (just for demonstration purposes) -->
            <article class="item thumb" data-width="348"><h2>LG G3 </h2><a href="../Content/images/fulls/05.jpg" class="image"><img src="~/Content/oneplus.jpg" alt=""></a></article>
            <article class="item thumb" data-width="232"><h2>Asus</h2><a href="../Content/images/fulls/06.jpg" class="image"><img src="~/Content/asus.png" alt=""></a></article>
            <article class="item thumb" data-width="352"><h2>iPhone 6</h2><a href="../Content/images/fulls/07.jpg" class="image"><a href="images/fulls/06.jpg" class="image"><img src="~/Content/iphone-6.jpg" alt=""></a>
</article>
            <article class="item thumb" data-width="348"><h2>The Spectators</h2><a href="../Content/images/fulls/08.jpg" class="image"><img src="../../Content/images/thumbs/08.jpg" alt=""></a></article>
            <article class="item thumb" data-width="282"><h2>You really got me</h2><a href="../Content/images/fulls/01.jpg" class="image"><img src="../../Content/images/thumbs/01.jpg" alt=""></a></article>
            <article class="item thumb" data-width="384"><h2>Ad Infinitum</h2><a href="../Content/images/fulls/02.jpg" class="image"><img src="../../Content/images/thumbs/02.jpg" alt=""></a></article>
            <article class="item thumb" data-width="274"><h2>Different.</h2><a href="../Content/images/fulls/03.jpg" class="image"><img src="../../Content/images/thumbs/03.jpg" alt=""></a></article>
            <article class="item thumb" data-width="282"><h2>Elysium</h2><a href="../Content/images/fulls/04.jpg" class="image"><img src="../../Content/images/thumbs/04.jpg" alt=""></a></article>

        </div>
    </div>
    <!--
    <div id="footer">
        <div class="right">
            <p>
            כאן יכנסו כמה מילים על האתר שלנו לצורכי קידום SEO</p>
        </div>
        <div class="left">
            <ul class="contact">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </div>
        -->
</div>

